.game-header { background: #333; padding: 30px 50px 60px; position: relative; z-index: 1; overflow: hidden; text-align: center; color: #FFF; }

.game-header a { color: #FFF; border-bottom: 0; }

.game-header a:hover { color: rgba(255, 255, 255, 0.6); }

.game-header:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: -1; }

.game-header-bg { position: absolute; z-index: -2; left: 50%; top: 50%; transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; object-fit: cover; filter: blur(2px); }

.game-header-number { margin-bottom: 6px; }

.game-header-place { margin-bottom: 10px; }

.game-header-place:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 7px; position: relative; top: -1px; width: 9px; height: 14px; background: url(../images/matches/pin-white.svg) center no-repeat; background-size: contain; }

.game-header-place a { border-bottom: 1px dashed #FFF; }

.game-header-place a:hover { border-bottom-color: transparent; }

.game-header-dash { margin-top: 30px; margin-bottom: 45px; position: relative; height: 1px; }

.game-header-dash:before { content: ""; position: absolute; left: -50px; right: -50px; background: rgba(255, 255, 255, 0.2); height: 1px; }

.game-header-team { flex: 0 0 35%; max-width: 35%; padding: 0px 20px; }

.game-header-info { flex: 0 0 30%; max-width: 30%; }

.game-header-team-logo { height: 60px; margin-bottom: 15px; display: -ms-flex; display: flex; -ms-align-items: center; align-items: center; justify-content: center; }

.game-header-team-logo img { max-height: 60px; }

.game-header-team-name { display: block; font-size: 28px; font-size: 1.75rem; font-weight: 500; margin-bottom: 3px; }

.game-header-team-location { margin-bottom: 8px; }

.game-header-team-rates { display: inline-block; position: relative; padding-left: 20px; margin-bottom: 8px; }

.game-header-team-rates:before { content: ""; position: absolute; left: 0; top: 50%; margin-top: -6px; width: 13px; height: 10px; background: url(../images/matches/team-rates.svg) center no-repeat; background-size: contain; }

.game-header-team-games { font-size: 0; }

.game-header-game-link { display: inline-block; vertical-align: middle; margin-right: 3px; margin-left: 3px; margin-bottom: 4px; width: 12px; height: 12px; border-radius: 50%; background: #21b049; }

.game-header-game-link.red { background: #de1b1b; }

.game-header-game-link:hover { box-shadow: 0px 0px 0px 1px #FFF, inset 0px 0px 0px 1px #FFF; }

.game-header-info-time { font-weight: 700; font-size: 25px; font-size: 1.5625rem; margin-bottom: 0px; }

.game-header-info-date { font-size: 22px; font-size: 1.375rem; margin-bottom: 15px; }

.game-header-info-quotes { background: #FFF; padding: 8px 10px; display: flex; align-items: center; justify-content: space-between; color: #3f3f3f; width: 170px; max-width: 100%; margin: 0px auto 15px; }

.game-header-info-quote { font-size: 16px; font-size: 1rem; padding: 0px 5px; }

.game-header-info-ticket { font-size: 16px; font-size: 1rem; position: relative; padding-left: 24px; }

.game-header-info-ticket:before { content: ""; position: absolute; left: 0; top: 0; width: 18px; height: 18px; background: url(../images/matches/ticket.svg) center no-repeat; background-size: contain; }

.game-header-info-ticket span { border-bottom: 1px dashed #FFF; }

.game-header-info-ticket:hover span { border-color: transparent; }

.game-tabs { margin-bottom: 50px; background: #FFF; }

.game-tabs a { display: -ms-flex; display: flex; -ms-align-items: center; align-items: center; -ms-justify-content: center; justify-content: center; height: 64px; line-height: 1.05; color: #3f3f3f; font-size: 16px; font-size: 1rem; padding: 5px 15px; border: 0; flex: 1 0 auto; text-align: center; }

.game-tabs a:hover, .game-tabs a.selected { background: #de1b1b; color: #FFF; }

.clubs-news-logo { display: inline-block; vertical-align: middle; max-width: 20px; }

.clubs-news-logo img { position: relative; top: -1px; opacity: 1; visibility: visible; max-height: 20px; }

.clubs-news .side-news-items { overflow-y: auto; max-height: 695px; }

.clubs-news .side-news-item .date { display: inline-block; vertical-align: middle; margin-right: 10px; }

.clubs-news .side-news-item .title { display: block; }

.game-margin { margin-bottom: 50px; }

.game-anonce { font-size: 16px; font-size: 1rem; background: #FFF; padding: 50px 60px; }

.game-anonce h2, .game-anonce .h2 { margin-top: 0; }

.game-anonce-hidden { display: none; }

.header-tabs { border-bottom: 2px solid #e9e9e9; margin-bottom: 35px; }

.header-tabs-title { font-size: 28px; font-size: 1.75rem; margin-right: 5vw; margin-top: 0; line-height: 1.1; margin-bottom: 25px; }

.header-tabs ul.header-tabs-tabs { margin: 0; padding: 0; font-size: 16px; font-size: 1rem; }

.header-tabs ul.header-tabs-tabs li { display: inline-block; position: static; padding: 0; margin: 0px 5vw 0 0; }

.header-tabs ul.header-tabs-tabs li:before { content: none !important; }

.header-tabs ul.header-tabs-tabs a { display: block; position: relative; padding-bottom: 25px; border: 0; color: #6e6d6d; }

.header-tabs ul.header-tabs-tabs a:after { content: ""; position: absolute; left: 0; right: 0; bottom: -2px; background: #de1b1b; height: 2px; z-index: 1; opacity: 0; transition: opacity .3s; }

.header-tabs ul.header-tabs-tabs a:hover:after, .header-tabs ul.header-tabs-tabs a.selected:after { opacity: 1; }

.header-tabs ul.header-tabs-tabs a.selected { color: #3f3f3f; }

.facetoface-games { max-height: 510px; overflow-y: auto; margin-bottom: 30px; }

.facetoface-item { background: #FFF; margin-bottom: 10px; padding: 23px 30px 20px; min-height: 120px; }

.facetoface-item:last-child { margin-bottom: 0; }

.facetoface-item-team { flex: 0 0 35%; max-width: 35%; }

.facetoface-item-team:last-child { text-align: right; }

.facetoface-item-result { flex: 0 0 30%; max-width: 30%; padding: 0px 15px; text-align: center; }

.facetoface-item .winner { font-weight: 700; }

.facetoface-item a { border-bottom: 0; }

.facetoface-item-logo { height: 18px; margin-bottom: 2px; }

.facetoface-item-logo img { display: inline-block; max-height: 18px; }

.facetoface-item-name { display: block; font-size: 18px; font-size: 1.125rem; margin-bottom: 4px; }

.facetoface-item-total { font-size: 24px; font-size: 1.5rem; display: block; border-bottom: 0; }

.facetoface-item-remark { margin-bottom: 4px; }

.facetoface-stats, .best-players { background: #FFF; padding: 40px 30px; margin-bottom: 30px; }

@media (min-width: 768px) { .facetoface-stats, .best-players { min-height: 510px; } }

.facetoface-stats-head, .best-players-head { margin-bottom: 25px; }

.iconed-team { position: relative; padding-left: 30px; }

.iconed-team a { border: 0; }

.iconed-team-logo { position: absolute; left: 0; top: 1px; height: 20px; width: 20px; display: flex; align-items: center; }

.iconed-team-name { font-size: 16px; font-size: 1rem; font-weight: 400; }

.iconed-team.righted { padding-left: 0; padding-right: 30px; }

.iconed-team.righted .iconed-team-logo { left: auto; right: 0; justify-content: flex-end; }

.i-rating { width: 13px; height: 11px; background: url(../images/matches/team-rates-black.svg) center no-repeat; background-size: contain; }

.ratio-line { margin-bottom: 33px; }

.ratio-line-labels { margin-bottom: 8px; }

.ratio-line-value { font-size: 16px; font-size: 1rem; font-weight: 400; }

.ratio-line-label { max-width: 75%; text-align: center; }

.ratio-line-bar { overflow: hidden; position: relative; height: 8px; background: #FF6147; }

.ratio-line-filled { position: absolute; left: 0; top: 0; bottom: 0; background: #00A0FF; }

.game-block-title { margin-bottom: 28px; margin-top: 0; }

.game-player { min-height: 80px; margin-bottom: 30px; -ms-align-items: center; align-items: center; font-size: 16px; font-size: 1rem; font-weight: 700; }

.game-player-img { flex: 0 0 80px; max-width: 80px; position: relative; border: 0; }

.game-player-img img { display: block; max-width: 80px; border-radius: 40px; }

.game-player-number { position: absolute; right: 0; bottom: 0; width: 27px; height: 27px; line-height: 27px; text-align: center; border-radius: 50%; color: #FFF; background: #00A0FF; font-size: 14px; font-weight: 300; }

.game-player-body { flex: 0 0 calc(100% - 80px); max-width: calc(100% - 80px); padding-left: 25px; display: -ms-flex; display: flex; justify-content: space-between; align-items: center; }

.game-player-name { display: inline-block; padding-right: 20px; border: 0; }

.game-player-points { font-size: 20px; font-size: 1.25rem; flex: 0 0 100px; max-width: 100px; text-align: right; }

.game-player-points-label { text-align: center; font-size: 35px; font-size: 2.1875rem; line-height: 1.1; }

.game-player-points-label div { text-transform: uppercase; font-size: 10px; font-weight: 300; }

.best-players .flex-row { margin-left: -25px; margin-right: -25px; }

.best-players [class*="flx-"] { padding-left: 25px; padding-right: 25px; }

.best-players-group .h3, .best-players-group .h3 { margin-bottom: 30px; }

.ui-relative { position: relative; }

.ui-preloader { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-align-items: center; align-items: center; -ms-justify-content: center; justify-content: center; background: #f2f2f2; padding: 20px 15px 30px; text-align: center; }

.ui-preloader-hint { font-weight: 600; font-size: 18px; color: #252525; margin-top: -20px; }

.lds-ellipsis { display: inline-block; position: relative; width: 80px; height: 80px; }

.lds-ellipsis div { position: absolute; top: 33px; width: 13px; height: 13px; border-radius: 50%; background: #21b049; animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) { left: 8px; animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) { left: 8px; animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) { left: 32px; animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) { left: 56px; animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 { 0% { transform: scale(0); }
  100% { transform: scale(1); } }

@keyframes lds-ellipsis3 { 0% { transform: scale(1); }
  100% { transform: scale(0); } }

@keyframes lds-ellipsis2 { 0% { transform: translate(0, 0); }
  100% { transform: translate(24px, 0); } }

.ui-error { background: #FFF; border: 1px solid #de1b1b; padding: 30px 20px; font-size: 18px; color: #de1b1b; text-align: center; font-weight: 600; }

.ui-block { background: #FFF; padding: 30px; margin-bottom: 30px; }

.game-header-info-score { font-size: 50px; font-size: 3.125rem; line-height: 1.05; margin-bottom: 8px; }

.game-header-info-score .winner { font-weight: 700; }

.game-header-info-ending { font-size: 20px; font-size: 1.25rem; margin-bottom: 10px; }

.game-header-info-periods { margin-bottom: 8px; max-width: 160px; margin-left: auto; margin-right: auto; }

.game-header-info-current { display: inline-block; height: 35px; line-height: 33px; padding: 0px 18px; border: 1px solid rgba(255, 255, 255, 0.25); }

.game-header-period { display: inline-block; margin-bottom: 5px; }

.game-header-period:not(:last-child):after { content: ""; display: inline-block; height: 1px; width: 20px; margin: 0px 8px 5px; background: rgba(255, 255, 255, 0.1); }

.game-events { margin-bottom: 40px; }

.slick-game-events { margin-right: -10px; margin-bottom: 20px; }

.slick-game-events .slick-arrow { bottom: auto; top: -64px; margin-top: 0; margin-bottom: 0; background: #FFF; }

.slick-game-events .slick-next { right: 10px; }

.slick-game-events .slick-prev { left: auto; right: 70px; }

.event-slide { padding-right: 10px; }

.event-item { background: #FFF; overflow: hidden; }

.event-item-name { font-weight: 500; font-size: 16px; font-size: 1rem; text-align: center; flex: 0 0 100%; max-width: 100%; padding: 0px 10px; }

.event-item-body { -ms-align-items: center; align-items: center; padding: 15px 30px; height: 120px; }

.event-item-type { background: #3F3F3F; color: #FFF; padding: 0px 20px; height: 42px; line-height: 42px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.event-item-img { position: relative; flex: 0 0 60px; max-width: 60px; }

.event-item-img img { border-radius: 30px; }

.event-item-right { padding-left: 10px; }

.event-item-player-number { position: absolute; bottom: -13px; left: 50%; margin-left: -13px; width: 26px; height: 26px; line-height: 24px; text-align: center; border: 1px solid #FFF; border-radius: 50%; color: #FFF; background: #00A0FF; font-size: 13px; font-size: 0.8125rem; }

.event-item-icontype { position: absolute; right: -5px; top: -5px; width: 22px; height: 22px; line-height: 22px; text-align: center; border-radius: 50%; background-color: #3f3f3f; background-position: center !important; background-repeat: no-repeat !important; background-size: 10px !important; }

.event-item-icontype.change { background-image: url(../images/matches/events-rechange.svg); }

.event-item-icontype.goal { background-image: url(../images/matches/events-goal.svg); }

.event-item-icontype.eject { background-image: url(../images/matches/events-eject.svg); }

.event-item-icon { width: 40px; height: 40px; margin-left: 15px; border-radius: 50%; background-color: #e9e9e9; background-position: center !important; background-repeat: no-repeat !important; background-size: 15px !important; }

.event-item-icon.clock { background-image: url(../images/matches/events-clock.svg); }

.event-item-icon.eject { background-image: url(../images/matches/events-eject-big.svg); }

.event-item a { border-bottom: 0; }

.event-item-team { font-weight: 500; margin-bottom: 4px; font-size: 16px; font-size: 1rem; }

.event-item-date { font-weight: 500; }

.game-protocol { background: #FFF url(../images/popup-patterns-bg.jpg) right top no-repeat; background-size: 225px; font-size: 16px; font-size: 1rem; padding: 50px 60px; }

.game-data { margin-bottom: 20px; background: #FFF; padding: 0px 25px 10px; }

.game-data a { border: 0; }

.game-data-title { text-align: center; font-size: 18px; font-size: 1.125rem; font-weight: 700; padding: 15px 25px; margin: 0px -25px 18px; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; }

.game-data-title:first-child { border-top: 0; }

.game-data-strings { margin-bottom: 20px; }

.game-data-team { padding-bottom: 15px; }

.game-data-team .iconed-team { margin-bottom: 18px; }

.game-data-group { margin-bottom: 18px; }

.game-data-group-title { position: relative; font-weight: 500; padding-left: 22px; margin-bottom: 3px; color: #000; }

.game-data-group-title i[class*="svg-"] { position: absolute; left: 0; top: 0; width: 15px; height: 15px; }

.data-string { margin-bottom: 15px; }

.data-string-label, .data-string-value { flex: 0 0 50%; max-width: 50%; }

.data-string-value { font-weight: 500; text-align: center; color: #000; }

.svg-stick { background: url(../images/matches/data-stick.svg) center no-repeat; background-size: contain; width: 15px; height: 15px; }

.svg-goalkeepers { background: url(../images/matches/data-goalkeepers.svg) center no-repeat; background-size: contain; width: 15px; height: 15px; }

.v-dash { margin: 0px 10px; }

.game-poll { position: relative; z-index: 1; margin-bottom: 30px; overflow: hidden; padding: 40px; background: #222; color: #FFF; }

.game-poll-bg { position: absolute; z-index: -2; left: 50%; top: 50%; transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; object-fit: cover; object-position: center; }

.game-poll:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: -1; }

.game-poll-header { font-size: 16px; font-size: 1rem; margin-bottom: 25px; }

.game-poll-title { font-size: 28px; font-size: 1.75rem; font-weight: 700; margin-bottom: 5px; }

.game-poll-teams { text-align: center; }

.game-poll-teams, .game-poll-results { margin-left: -40px; margin-right: -40px; }

.game-poll-teams [class*="flx-"], .game-poll-results [class*="flx-"] { padding-left: 40px; padding-right: 40px; }

.game-poll-teams .flx-6:first-child, .game-poll-results .flx-6:first-child { border-right: 1px solid #FFF; }

.game-poll-link { display: block; padding: 10px 0 15px; color: #FFF; border: 0; }

i.svg-okey { display: inline-block; vertical-align: baseline !important; margin-right: 12px !important; width: 26px !important; height: 30px !important; background: url(../images/matches/svg-okay.svg) center no-repeat; background-size: contain; }

i.svg-kubok { display: inline-block; vertical-align: baseline !important; margin-right: 12px !important; width: 25px !important; height: 25px !important; background: url(../images/matches/svg-kubok.svg) center no-repeat; background-size: contain; }

.poll-winner { text-align: left; -ms-align-items: flex-start; align-items: flex-start; }

.poll-winner-img { flex: 0 0 130px; max-width: 130px; position: relative; margin-bottom: 24px; }

.poll-winner-img img { width: 100%; border-radius: 50%; display: block; }

.poll-winner-number { position: absolute; left: 50%; top: 100%; margin-left: -24px; margin-top: -24px; width: 48px; height: 48px; line-height: 46px; background: #00A0FF; border-radius: 50%; border: 1px solid #000; color: #FFF; text-align: center; font-weight: 500; }

.poll-winner-right { padding-left: 25px; padding-top: 10px; }

.poll-winner-team { position: relative; display: inline-block; padding-left: 28px; }

.poll-winner-team-img { position: absolute; left: 0; top: 0; width: 18px; height: 15px; }

.poll-winner-name { font-size: 24px; font-size: 1.5rem; font-weight: 700; margin-bottom: 2px; }

.poll-winner-amplua { margin-bottom: 10px; }

.poll-winner-rates { position: relative; padding-left: 25px; }

.poll-winner-rates span { font-weight: 700; }

.poll-winner-rates:before { content: ""; position: absolute; width: 18px; height: 18px; left: 0; top: -2px; background: url(../images/matches/svg-okay.svg) center no-repeat; background-size: contain; }

.poll-winner a { color: #FFF; border: 0; }

.game-tab-content { margin-bottom: 35px; }

.game-online { padding-top: 10px; }

.game-online-player { margin-bottom: 30px; }

.game-text-events { background: #FFF; margin-bottom: 30px; }

.game-text-crucial, .game-text-event { border-bottom: 1px solid #e9e9e9; padding: 20px 45px; font-size: 16px; font-size: 1rem; }

.game-text-crucial a, .game-text-event a { border: 0; }

.game-text-crucial { font-weight: 500; }

.game-text-event { display: -ms-flex; display: flex; }

.game-text-event-time { flex: 0 0 80px; max-width: 80px; padding-right: 10px; font-weight: 500; }

.game-text-event-icon { flex: 0 0 60px; max-width: 60px; padding-right: 10px; }

.game-text-event-who { font-weight: 500; margin-bottom: 2px; }

.game-text-event-type { font-size: 14px; font-size: 0.875rem; }

.game-text-header { font-size: 20px; font-size: 1.25rem; text-align: center; padding: 17px 30px; border-bottom: 1px solid #e9e9e9; font-weight: 700; }

i[class*="svg-"] { display: inline-block; vertical-align: middle; margin-right: 7px; width: 16px; height: 16px; background-size: contain !important; }

.svg-clock { background: url(../images/matches/svg-clock.svg) no-repeat center; }

.svg-change { background: url(../images/matches/svg-change.svg) no-repeat center; }

.svg-goal { background: url(../images/matches/svg-goal.svg) no-repeat center; }

.svg-eject { background: url(../images/matches/svg-eject.svg) no-repeat center; }

.svg-edit { background: url(../images/matches/svg-edit.svg) no-repeat center; }

.svg-twitter { background: url(../images/matches/svg-twitter.svg) no-repeat center; }

.game-text-twitter { background: #FFF; margin-bottom: 30px; }

.game-text-twitter .svg-twitter { opacity: 0.5; position: relative; top: -2px; width: 20px; height: 16px; }

.game-twitter { max-height: 1500px; overflow-y: auto; }

table.dark-table thead th { background: #28292b; font-weight: 700; border: 1px solid #28292b; color: #FFF; padding: 15px 15px; text-align: left; }

table.dark-table thead th.centered { text-align: center; }

table.dark-table td { padding: 15px; }

table.dark-table tbody tr:nth-of-type(odd) { background: #FFF; }

.game-protocols { padding-top: 10px; }

.game-protocols-statistics table.dark-table th, .game-protocols-statistics table.dark-table td { text-align: center; }

.game-protocols-statistics table.dark-table th.lefted, .game-protocols-statistics table.dark-table td.lefted { text-align: left; }

.person-snippet { display: -ms-flex; display: flex; -ms-align-items: center; align-items: center; margin-bottom: 30px; line-height: 1.42; }

.person-snippet a { border: 0; }

.person-snippet-img { flex: 0 0 130px; max-width: 130px; }

.person-snippet-img img { border-radius: 65px; display: block; }

.person-snippet-right { padding-left: 15px; }

.person-snippet-name { font-weight: 700; font-size: 28px; font-size: 1.75rem; margin-bottom: 4px; }

.person-snippet-team img { display: inline-block !important; margin-right: 7px; }

.overview-block { font-size: 16px; font-size: 1rem; line-height: 1.6; padding: 35px 50px; }

.overview-block h2:first-child, .overview-block .h2:first-child { margin-top: 0; }

.cite-dash { position: relative; margin: 40px 0; height: 1px; background: #e9e9e9; }

.cite-dash:after { content: ""; position: absolute; width: 120px; height: 24px; left: 0; right: 0; margin: 0 auto; top: -12px; background: #FFF url(../images/matches/cites.svg) no-repeat center; background-size: contain; }

.fotorama__thumb-border { border-color: #de1b1b; }

.fotorama__arr:after { content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 11px; height: 23px; background-size: contain !important; }

.fotorama__arr--prev:after { background: url(../images/matches/svg-prev.svg) center no-repeat; }

.fotorama__arr--next:after { background: url(../images/matches/svg-next.svg) center no-repeat; }

.fotorama__video-play { width: 170px; height: 170px; margin-left: -85px; margin-top: -85px; background: url(../images/matches/svg-play.svg) center no-repeat !important; background-size: contain !important; }

.fotorama__nav__frame .fotorama__video-play { width: 70px; height: 70px; margin-left: -35px; margin-top: -35px; background-position: center; }

.popup-game { background: #FFF; max-width: 700px; padding: 60px 40px 50px; color: #3f3f3f; }

.popup-game .h1, .popup-game h1 { padding: 0px 25px; margin-bottom: 25px; }

.popup-game button.mfp-close { width: 30px; height: 30px; }

.label-player { position: relative; display: -ms-flex; display: flex; -ms-align-items: center; align-items: center; border: 1px solid #e9e9e9; padding: 15px; margin-bottom: 10px; cursor: pointer; }

.label-player a { border: 0; color: #3f3f3f; }

.label-player a:hover { color: #21b049; }

.label-player input { position: absolute; opacity: 0; left: 0; top: 0; }

.label-player-photo { position: relative; flex: 0 0 85px; max-width: 85px; padding-right: 20px; }

.label-player-photo img { display: block; border-radius: 33px; }

.label-player-number { position: absolute; right: 20px; bottom: 0; width: 26px; height: 26px; line-height: 26px; text-align: center; background: #00A0FF; color: #FFF; border-radius: 50%; }

.label-player-name { font-weight: 700; font-size: 16px; font-size: 1rem; margin-bottom: 3px; }

.label-player-team { font-size: 14px; font-size: 0.875rem; }

input:checked + .label-player-border { position: absolute; left: 0; right: 0; top: 0; bottom: 0; box-shadow: 0px 0px 0px 1px #00A0FF, inset 0px 0px 0px 1px #00A0FF; }

.popup-players-form-submit { padding-top: 20px; }

.popup-players-form-submit .btn { display: block; width: 100%; height: 80px; line-height: 80px; font-weight: 500; font-size: 28px; font-size: 1.75rem; text-transform: none; }

.popup-players-form-submit i.svg-vote { position: relative; top: -4px; }

i.svg-vote { width: 26px; height: 26px; background: url(../images/matches/svg-vote.svg) center no-repeat; background-size: contain; }

.popup-poll-thanks { font-size: 36px; font-size: 2.25rem; }

.popup-thanks-hint { font-weight: 700; color: #21b049; }

ul.slick-dots { margin-bottom: 0; }

ul.slick-dots li { padding-left: 0; margin: 3px; }

ul.slick-dots li:before { content: none; }

.slick-game-events ul.slick-dots { position: static; padding-top: 10px; text-align: center; }

.fotorama__arr { z-index: 11; }

/* --- RESPONSIVE --- */
@media (max-width: 992px) { .game-header { padding: 30px 20px 45px; }
  .game-tabs { overflow-x: auto; white-space: nowrap; }
  .game-tabs a { display: flex; align-items: center; line-height: 1.05; max-width: 160px; white-space: normal; }
  .game-tabs::-webkit-scrollbar { width: 0; height: 0; } }

@media (max-width: 860px) and (min-width: 768px) { .game-player { font-size: 15px; font-size: 0.9375rem; min-height: 65px; }
  .game-player-img { flex: 0 0 65px; max-width: 65px; }
  .game-player-img img { max-width: 100%; }
  .game-player-body { flex: 0 0 calc(100% - 65px); max-width: calc(100% - 65px); padding-left: 15px; }
  .game-player-points { font-size: 16px; font-size: 1rem; color: #de1b1b; }
  .game-player-points-label { font-size: 24px; font-size: 1.5rem; color: #de1b1b; }
  .game-player-points-label div { color: #3f3f3f; } }

@media (max-width: 768px) { .game-tabs a { flex: 0 0 auto; }
  .game-header-dash { margin-bottom: 35px; }
  .game-header-team { padding: 0px 10px; }
  .game-header-team-logo { height: 50px; }
  .game-header-team-logo img { max-height: 50px; }
  .game-header-team-name { font-size: 20px; font-size: 1.25rem; line-height: 1.2; }
  .header-tabs { display: block; border-bottom: 0; margin-bottom: 25px; }
  .header-tabs-title { margin: 0; margin-bottom: 20px; }
  .header-tabs ul.header-tabs-tabs { overflow-x: auto; overflow-y: visible; white-space: nowrap; position: relative; }
  .header-tabs ul.header-tabs-tabs:after { content: ""; position: absolute; left: 0; right: 0; bottom: 2px; height: 2px; background: #e9e9e9; }
  .header-tabs ul.header-tabs-tabs a { padding-bottom: 10px; }
  .header-tabs ul.header-tabs-tabs a:after { bottom: 2px; }
  ul.header-tabs-tabs::-webkit-scrollbar { width: 0; height: 0; }
  .clubs-news .side-news-items, .facetoface-games { max-height: none; overflow: visible; }
  .poll-winner { align-items: flex-start; }
  .poll-winner-img { flex: 0 0 85px; max-width: 85px; }
  .poll-winner-number { width: 40px; height: 40px; line-height: 40px; margin-left: -20px; margin-top: -20px; }
  .poll-winner-right { padding-left: 15px; padding-top: 0; }
  .poll-winner-name { font-size: 18px; font-size: 1.125rem; }
  .game-poll-teams, .game-poll-results { margin-left: -20px; margin-right: -20px; }
  .game-poll-teams [class*="flx-"], .game-poll-results [class*="flx-"] { padding-left: 20px; padding-right: 20px; }
  .game-twitter { overflow: visible; max-height: none; }
  .person-snippet-img { flex: 0 0 85px; max-width: 85px; }
  .person-snippet-name { font-size: 22px; font-size: 1.375rem; }
  .fotorama__video-play { width: 80px; height: 80px; margin-left: -40px; margin-top: -40px; }
  .fotorama__nav__frame .fotorama__video-play { width: 48px; height: 48px; margin-left: -24px; margin-top: -24px; } }

@media (max-width: 576px) { .game-tabs { margin-left: -15px; margin-right: -15px; }
  .game-header { padding: 20px 10px 25px; margin-left: -15px; margin-right: -15px; }
  .game-header-dash { margin-top: 20px; margin-bottom: 25px; }
  .game-header-teams { position: relative; flex-wrap: wrap; align-items: flex-start; }
  .game-header-team { flex: 0 0 50%; max-width: 50%; }
  .game-header-info { padding-top: 20px; flex: 0 0 100%; max-width: 100%; order: 1; }
  .game-header-info-score { position: absolute; left: 50%; top: 0px; transform: translateX(-50%); }
  .game-protocol, .game-anonce, .overview-block { padding: 25px 30px; }
  .game-protocol .game-block-title, .game-anonce .game-block-title, .overview-block .game-block-title { margin-bottom: 18px; }
  .game-margin { margin-bottom: 40px; }
  .facetoface-stats, .best-players { padding: 25px 20px 20px; }
  .game-poll { padding: 25px 20px; }
  .game-poll-title { font-size: 24px; font-size: 1.5rem; line-height: 1.2; }
  .game-text-crucial, .game-text-event { padding-left: 20px; padding-right: 20px; }
  .game-online iframe { max-height: 340px; } }

@media (max-width: 533px) { .game-player { font-size: 15px; font-size: 0.9375rem; min-height: 65px; }
  .game-player-img { flex: 0 0 65px; max-width: 65px; }
  .game-player-img img { max-width: 100%; }
  .game-player-body { flex: 0 0 calc(100% - 65px); max-width: calc(100% - 65px); padding-left: 15px; }
  .game-player-points { font-size: 16px; font-size: 1rem; color: #de1b1b; text-align: center; }
  .game-player-points-label { font-size: 24px; font-size: 1.5rem; color: #de1b1b; text-align: center; }
  .game-player-points-label div { color: #3f3f3f; }
  .poll-winner { display: block; text-align: center; }
  .poll-winner-img { margin: 0px auto 25px; max-width: 85px; }
  .poll-winner-right { padding-left: 0; }
  .poll-winner-rates { display: inline-block; }
  .fotorama__arr--prev { left: 15px; }
  .fotorama__arr--next { right: 15px; } }

@media (max-width: 480px) { .game-tabs, .game-header { margin-left: -10px; margin-right: -10px; }
  .game-header-number, .game-header-place { font-size: 12px; font-size: 0.75rem; }
  .game-header-info-score { font-size: 40px; font-size: 2.5rem; letter-spacing: -0.05em; }
  .game-poll-teams, .game-poll-results { margin-left: -10px; margin-right: -10px; }
  .game-poll-teams [class*="flx-"], .game-poll-results [class*="flx-"] { padding-left: 10px; padding-right: 10px; }
  .person-snippet-name { font-size: 18px; font-size: 1.125rem; }
  .overview-block { padding: 25px 20px 20px; }
  .facetoface-item { padding: 20px; } }

@media (max-width: 380px) { .game-header-team:first-child .game-header-team-logo { padding-right: 20px; }
  .game-header-team:last-child .game-header-team-logo { padding-left: 20px; }
  .game-tabs a { font-size: 14px; font-size: 0.875rem; max-width: 130px; }
  .game-text-crucial, .game-text-event { padding-left: 15px; padding-right: 15px; font-size: 14px; font-size: 0.875rem; }
  .game-text-event-time { flex: 0 0 60px; max-width: 60px; }
  .game-text-event-icon { flex: 0 0 50px; max-width: 50px; }
  .game-anonce { font-size: 14px; font-size: 0.875rem; }
  .overview-block { font-size: 14px; font-size: 0.875rem; }
  .game-player-body { display: block; }
  .game-player-points { text-align: left; max-width: 100%; }
  .game-player-points-label { text-align: left; }
  .game-player-points-label div { display: inline; font-size: 12px; margin-left: 3px; } }

.game-snippet { margin: 15px 0px 30px; border: 1px solid #e9e9e9; font-size: 14px; font-size: 0.875rem; line-height: 1.42; font-weight: 400; }

.game-snippet a { border-bottom: 0; }

.game-snippet-head { background: #e9e9e9; padding: 10px 20px; font-size: 13px; font-size: 0.8125rem; }

.game-snippet-head a { color: #3f3f3f; border-bottom: 1px dotted #444; }

.game-snippet-head a:hover { color: #21b049; border-bottom-color: transparent; }

.game-snippet-body { padding: 35px 20px; text-align: center; }

.game-snippet-place { display: inline-block; position: relative; padding-left: 16px; }

.game-snippet-place:before { content: ""; position: absolute; left: 0; top: 3px; width: 10px; height: 14px; background: url(../images/matches/pin-gray.svg) center no-repeat; background-size: contain; }

.game-snippet-team { flex: 0 0 30%; max-width: 30%; }

.game-snippet-info { flex: 0 0 40%; padding: 0px 15px; }

.game-snippet-team-logo { display: inline-block; height: 60px; margin-bottom: 2px; }

.game-snippet-team-logo img { display: block; margin: 0 auto; max-height: 60px; }

.game-snippet-team-name { display: block; font-weight: 500; font-size: 24px; font-size: 1.5rem; line-height: 1.25; margin-bottom: 5px; }

.game-snippet-team-string { line-height: 1; margin-bottom: 8px; }

.game-snippet-team-rates { display: inline-block; position: relative; padding-left: 18px; }

.game-snippet-team-rates:before { content: ""; position: absolute; left: 0; top: 2px; width: 13px; height: 11px; background: url(../images/matches/rates-icon.svg) center no-repeat; background-size: contain; }

.game-snippet-team-rates:not(:last-child) { margin-right: 7px; padding-right: 10px; border-right: 1px solid #e9e9e9; }

.game-snippet-game-link { display: inline-block; vertical-align: middle; margin-right: 1px; margin-left: 1px; margin-bottom: 3px; width: 12px; height: 12px; border-radius: 50%; background: #21b049; }

.game-snippet-game-link.red { background: #de1b1b; }

.game-snippet-game-link:hover { box-shadow: 0px 0px 0px 1px #e9e9e9, inset 0px 0px 0px 1px #e9e9e9; }

.game-snippet-date { margin-bottom: 10px; }

.game-snippet-time { margin-bottom: 18px; line-height: 1; font-size: 0; font-weight: 700; white-space: nowrap; }

.game-snippet-digit { display: inline-block; vertical-align: baseline; font-size: 34px; font-size: 2.125rem; font-weight: 700; min-width: 48px; height: 65px; line-height: 65px; padding: 0px 4px; margin: 0px 2px; text-align: center; background: #EEE; border-radius: 5px; font-size: 34px; font-size: 2.125rem; }

.game-snippet-dots { margin: 0px 4px; display: inline-block; vertical-align: baseline; font-size: 34px; font-size: 2.125rem; font-weight: 700; }

.game-snippet-broadcasts { margin-bottom: 15px; }

.game-snippet-broadcasts a, .game-snippet-broadcasts span { margin-left: 6px; margin-right: 6px; white-space: nowrap; }

.game-snippet-broadcasts a { text-decoration: underline; }

.game-snippet-broadcasts a:hover { text-decoration: none; }

.game-snippet-tv { display: inline-block; padding-left: 16px; position: relative; }

.game-snippet-tv.tooltip { width: auto; height: auto; background: none; border-radius: 0; border: 0; text-decoration: underline; font-size: 14px; font-size: 0.875rem; cursor: default; }

.game-snippet-tv.tooltip:hover { text-decoration: none; color: #3f3f3f; }

.game-snippet-tv:before { content: ""; position: absolute; left: 0; top: 3px; width: 12px; height: 11px; background: url(../images/matches/tv-icon.svg) center no-repeat; background-size: contain; }

.game-snippet-internet { display: inline-block; padding-left: 16px; position: relative; }

.game-snippet-internet:before { content: ""; position: absolute; left: 0; top: 4px; width: 12px; height: 12px; background: url(../images/matches/play-icon.svg) center no-repeat; background-size: contain; }

.game-snippet-ticket { display: inline-block; vertical-align: middle; height: 32px; line-height: 32px; text-align: center; padding: 0px 20px; background: #21b049; border-radius: 3px; color: #FFF; cursor: pointer; }

.game-snippet-ticket:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 4px; position: relative; top: -2px; width: 12px; height: 12px; background: url(../images/matches/ticket.svg) center no-repeat; background-size: contain; }

.game-snippet-ticket:hover { color: #FFF; background: #198537; }

.game-snippet .tooltip-answer { font-size: 14px; font-size: 0.875rem; box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1); width: 200px; margin-left: -32px; line-height: 1.8; font-weight: 300; }

.game-snippet-time-simple { font-weight: 700; font-size: 25px; font-size: 1.5625rem; }

.game-snippet-date-simple { font-size: 22px; font-size: 1.375rem; margin-bottom: 18px; }

.game-snippet-head-date { margin-left: 7px; padding-left: 10px; border-left: 1px solid #a7a7a7; }

.game-snippet-score { margin-bottom: 10px; }

.game-snippet-ending { margin-bottom: 8px; font-size: 20px; font-size: 1.25rem; }

.game-snippet-period { display: inline-block; margin-bottom: 5px; }

.game-snippet-period:not(:last-child):after { content: ""; display: inline-block; height: 1px; width: 20px; margin: 0px 8px 5px; background: #a7a7a7; }

.game-snippet-protocol-toggler { background: #e9e9e9; cursor: pointer; padding: 10px 20px; text-align: center; transition: all .3s; }

.game-snippet-protocol-toggler span { border-bottom: 1px dashed #a7a7a7; }

.game-snippet-protocol-toggler:hover { background: #f1f1f1; }

.game-snippet-protocol-toggler:hover span { border-bottom-color: transparent; }

.game-snippet-protocol-body { display: none; border-top: 1px solid #e9e9e9; padding: 40px 55px; background: url(../images/matches/game-snippet-bg.png) center top no-repeat; font-size: 16px; font-size: 1rem; line-height: 1.8; }

.game-snippet-protocol-body h2:first-child, .game-snippet-protocol-body .h2:first-child, .game-snippet-protocol-body h3:first-child, .game-snippet-protocol-body .h3:first-child { margin-top: 0; }

.game-snippet-protocol-body p { margin-bottom: 15px; }

@media (max-width: 1140px) { .game-snippet-head-date { display: block; margin-left: 0; padding-left: 0; border-left: 0; }
  .game-snippet-team-name { font-size: 20px; font-size: 1.25rem; }
  .game-snippet-digit { min-width: 40px; height: 58px; line-height: 58px; font-size: 30px; font-size: 1.875rem; }
  .game-snippet-dots { font-size: 30px; font-size: 1.875rem; } }

@media (max-width: 768px) { .game-snippet-head { padding-top: 7px; display: block; text-align: center; }
  .game-snippet-head-date { display: inline; margin-left: 10px; }
  .game-snippet-head, .game-snippet-body { padding-left: 15px; padding-right: 15px; }
  .game-snippet-team-name { font-size: 18px; font-size: 1.125rem; }
  .game-snippet-digit { min-width: 36px; height: 50px; line-height: 50px; font-size: 28px; font-size: 1.75rem; }
  .game-snippet-dots { font-size: 28px; font-size: 1.75rem; }
  .game-snippet-date-simple { line-height: 1.2; }
  .game-snippet-protocol-body { padding: 30px; } }

@media (max-width: 576px) { .game-snippet-body { padding: 25px 0; }
  .game-snippet-teams { flex-wrap: wrap; }
  .game-snippet-team { flex: 0 0 50%; max-width: 50%; padding: 0px 10px; }
  .game-snippet-info { flex: 0 0 100%; max-width: 100%; order: 1; padding-top: 15px; } }

/*# sourceMappingURL=sourcemaps/matches.css.map */
