.game-header {
  background: #333;
  padding: 30px 50px 60px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #FFF;

  a {
    color: #FFF;
    border-bottom: 0;

    &:hover {
      color: rgba(#FFF,.6);
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000,.5);
    z-index: -1;
  }
  &-bg {
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: blur(2px);
  }
  &-number {
    margin-bottom: 6px;
  }
  &-place {
    margin-bottom: 10px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      position: relative;
      top: -1px;
      width: 9px;
      height: 14px;
      background: url(../images/matches/pin-white.svg) center no-repeat;
      background-size: contain;
    }
    a {
      border-bottom: 1px dashed #FFF;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
  &-dash {
    margin-top: 30px;
    margin-bottom: 45px;
    position: relative;
    height: 1px;

    &:before {
      content: "";
      position: absolute;
      left: -50px;
      right: -50px;
      background: rgba(#FFF,.2);
      height: 1px;
    }
  }
  &-team {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0px 20px;
  }
  &-info {
    flex: 0 0 30%;
    max-width: 30%;
  }
  &-team {
    &-logo {
      height: 60px;
      margin-bottom: 15px;
      display: -ms-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;

      img {
        max-height: 60px;
      }
    }
    &-name {
      display: block;
      @include fz(28);
      font-weight: 500;
      margin-bottom: 3px;
    }
    &-location {
      margin-bottom: 8px;
    }
    &-rates {
      display: inline-block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 8px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
        width: 13px;
        height: 10px;
        background: url(../images/matches/team-rates.svg) center no-repeat;
        background-size: contain;
      }
    }
    &-games {
      font-size: 0;
    }
  }
  &-game-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $primary;

    &.red {
      background: $red;
    }
    &:hover {
      box-shadow: 0px 0px 0px 1px #FFF, inset 0px 0px 0px 1px #FFF;
    }
  }
  &-info {
    &-time {
      font-weight: 700;
      @include fz(25);
      margin-bottom: 0px;
    }
    &-date {
      @include fz(22);
      margin-bottom: 15px;
    }
    &-quotes {
      background: #FFF;
      padding: 8px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $font;
      width: 170px;
      max-width: 100%;
      margin: 0px auto 15px;
    }
    &-quote {
      @include fz(16);
      padding: 0px 5px;
    }
    &-ticket {
      @include fz(16);
      position: relative;
      padding-left: 24px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background: url(../images/matches/ticket.svg) center no-repeat;
        background-size: contain;
      }
      span {
        border-bottom: 1px dashed #FFF;
      }
      &:hover {
        span {
          border-color: transparent;
        }
      }
    }
  }
}

.game-tabs {
  margin-bottom: 50px;
  background: #FFF;

  a {
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    justify-content: center;
    height: 64px;
    line-height: 1.05;
    color: $font;
    @include fz(16);
    padding: 5px 15px;
    border: 0;
    flex: 1 0 auto;
    text-align: center;

    &:hover, &.selected {
      background: $red;
      color: #FFF;
    }
  }
}

.clubs-news {
  &-logo {
    display: inline-block;
    vertical-align: middle;

    img {
      position: relative;
      top: -1px;
      opacity: 1;
      visibility: visible;
    }
  }
  .side-news-items {
    overflow-y: auto;
    max-height: 695px;
  }
  .side-news-item {
    .date {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    .title {
      display: block;
    }
  }
}

.game-margin {
  margin-bottom: 50px;
}
.game-anonce {
  @include fz(16);
  background: #FFF;
  padding: 50px 60px;
  
  h2, .h2 {
    margin-top: 0;
  }
  &-hidden {
    display: none;
  }
}
.header-tabs {
  border-bottom: 2px solid $border;
  margin-bottom: 35px;

  &-title {
    @include fz(28);
    margin-right: 5vw;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 25px;
  }
  ul#{&}-tabs {
    margin: 0;
    padding: 0;
    @include fz(16);

    li {
      display: inline-block;
      position: static;
      padding: 0;
      margin: 0px 5vw 0 0;

      &:before {
        content: none !important;
      }
    }
    a {
      display: block;
      position: relative;
      padding-bottom: 25px;
      border: 0;
      color: $light;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        background: $red;
        height: 2px;
        z-index: 1;
        opacity: 0;
        transition: opacity .3s;
      }
      &:hover, &.selected {
        &:after {
          opacity: 1;
        }
      }
      &.selected {
        color: $font;
      }
    }
  }
}
.facetoface-games {
  max-height: 510px;
  overflow-y: auto;
  margin-bottom: 30px;
}
.facetoface-item {
  background: #FFF;
  margin-bottom: 10px;
  padding: 23px 30px 20px;
  min-height: 120px;
  
  &:last-child {
    margin-bottom: 0;
  }

  &-team {
    flex: 0 0 35%;
    max-width: 35%;

    &:last-child {
      text-align: right;
    }
  }
  &-result {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0px 15px;
    text-align: center;
  }
  .winner {
    font-weight: 700;
  }
  a {
    border-bottom: 0;
  }
  &-logo {
    height: 18px;
    margin-bottom: 2px;

    img {
      display: inline-block;
      max-height: 18px;
    }
  }
  &-name {
    display: block;
    @include fz(18);
    margin-bottom: 4px;
  }
  &-total {
    @include fz(24);
    display: block;
    border-bottom: 0;
  }
  &-remark {
    margin-bottom: 4px;
  }
}
.facetoface-stats,
.best-players {
  background: #FFF;
  padding: 40px 30px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    min-height: 510px;
  }

  &-head {
    margin-bottom: 25px;
  }
}
.iconed-team {
  position: relative;
  padding-left: 30px;

  a {
    border: 0;
  }
  &-logo {
    position: absolute;
    left: 0;
    top: 1px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
  }
  &-name {
    @include fz(16);
    font-weight: 400;
  }
  &.righted {
    padding-left: 0;
    padding-right: 30px;

    .iconed-team-logo {
      left: auto;
      right: 0;
      justify-content: flex-end;
    }
  }
}

.i-rating {
  width: 13px;
  height: 11px;
  background: url(../images/matches/team-rates-black.svg) center no-repeat;
  background-size: contain;
}
.ratio-line {
  margin-bottom: 33px;

  &-labels {
    margin-bottom: 8px;
  }
  &-value {
    @include fz(16);
    font-weight: 400;
  }
  &-label {
    max-width: 75%;
    text-align: center;
  }
  &-bar {
    overflow: hidden;
    position: relative;
    height: 8px;
    background: #FF6147;
  }
  &-filled {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #00A0FF;
  }
}
.game-block-title {
  margin-bottom: 28px;
  margin-top: 0;
}
.game-player {
  min-height: 80px;
  margin-bottom: 30px;
  -ms-align-items: center;
  align-items: center;
  @include fz(16);
  font-weight: 700;

  &-img {
    flex: 0 0 80px;
    max-width: 80px;
    position: relative;
    border: 0;
    

    img {
      display: block;
      max-width: 80px;
      border-radius: 40px;
    }
  }
  &-number {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    background: #00A0FF;
    font-size: 14px;
    font-weight: 300;
  }
  &-body {
    flex: 0 0 calc(100% - 80px);
    max-width: calc(100% - 80px);
    padding-left: 25px;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-name {
    display: inline-block;
    padding-right: 20px;
    border: 0;
  }
  &-points {
    @include fz(20);
  }
  &-points-label {
    text-align: center;
    @include fz(35);
    line-height: 1.1;

    div {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 300;
    }
  }
}
.best-players {
  .flex-row {
    margin-left: -25px;
    margin-right: -25px;
  }
  [class*="flx-"] {
    padding-left: 25px;
    padding-right: 25px;
  }
  &-group {
    .h3, .h3 {
      margin-bottom: 30px;
    }
  }
}


.ui-preloader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  background: #f2f2f2;
  padding: 20px 15px 30px;
  text-align: center;

  &-hint {
    font-weight: 600;
    font-size: 18px;
    color: #252525;
    margin-top: -20px;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $primary;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.ui-error {
  background: #FFF;
  border: 1px solid $red;
  padding: 30px 20px;
  font-size: 18px;
  color: $red;
  text-align: center;
  font-weight: 600;
}

.ui-block {
  background: #FFF;
  padding: 30px;
  margin-bottom: 30px;
}


.game-header {
  &-info {
    &-score {
      @include fz(50);
      line-height: 1.05;
      margin-bottom: 8px;

      .winner {
        font-weight: 700;
      }

    }
    &-ending {
      @include fz(20);
      margin-bottom: 10px;
    }
    &-periods {
      margin-bottom: 8px;
      max-width: 160px;
      margin-left: auto;
      margin-right: auto;
    }
    &-current {
      display: inline-block;
      height: 35px;
      line-height: 33px;
      padding: 0px 18px;
      border: 1px solid rgba(#FFF,.25);
    }
  }
  
  &-period {
    display: inline-block;
    margin-bottom: 5px;

    &:not(:last-child):after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 20px;
      margin: 0px 8px 5px;
      background: rgba(#FFF,.1);
    }
  }
}

.game-events {
  margin-bottom: 40px;
}
.slick-game-events {
  margin-right: -10px;
  margin-bottom: 20px;

  .slick-arrow {
    bottom: auto;
    top: -64px;
    margin-top: 0;
    margin-bottom: 0;
    background: #FFF;
  }
  .slick-next {
    right: 10px;
  }
  .slick-prev {
    left: auto;
    right: 70px;
  }
}
.event-slide {
  padding-right: 10px;
}
.event-item {
  background: #FFF;
  overflow: hidden;

  &-name {
    font-weight: 500;
    @include fz(16);
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 10px;
  }
  &-body {
    -ms-align-items: center;
    align-items: center;
    padding: 15px 30px;
    height: 120px;
  }
  &-type {
    background: #3F3F3F;
    color: #FFF;
    padding: 0px 20px;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-img {
    position: relative;
    flex: 0 0 60px;
    max-width: 60px;

    img {
      border-radius: 30px;
    }
  }
  &-right {
    padding-left: 10px;
  }
  &-player-number {
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    background: #00A0FF;
    @include fz(13);
  }
  &-icontype {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: #3f3f3f;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 10px !important;

    &.change {
      background-image: url(../images/matches/events-rechange.svg);
    }
    &.goal {
      background-image: url(../images/matches/events-goal.svg);
    }
    &.eject {
      background-image: url(../images/matches/events-eject.svg);
    }
  }
  &-icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
    background-color: #e9e9e9;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 15px !important;

    &.clock {
      background-image: url(../images/matches/events-clock.svg);
    }
    &.eject {
      background-image: url(../images/matches/events-eject-big.svg);
    }
  }
  a {
    border-bottom: 0;
  }
  &-team {
    font-weight: 500;
    margin-bottom: 4px;
    @include fz(16);
  }
  &-date {
    font-weight: 500;
  }
}

.game-protocol {
  background: #FFF url(../images/popup-patterns-bg.jpg) right top no-repeat;
  background-size: 225px;
  @include fz(16);
  padding: 50px 60px;
}

.game-data {
  margin-bottom: 20px;
  background: #FFF;
  padding: 0px 25px 10px;

  a {
    border: 0;
  }

  &-title {
    text-align: center;
    @include fz(18);
    font-weight: 700;
    padding: 15px 25px;
    margin: 0px -25px 18px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    &:first-child {
      border-top: 0;
    }
  }
  &-strings {
    margin-bottom: 20px;
  }
  &-team {
    padding-bottom: 15px;
    
    .iconed-team {
      margin-bottom: 18px;
    }
  }
  &-group {
    margin-bottom: 18px;

    &-title {
      position: relative;
      font-weight: 500;
      padding-left: 22px;
      margin-bottom: 3px;
      color: #000;

      i[class*="svg-"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
      }
    }
  }
}
.data-string {
  margin-bottom: 15px;

  &-label, &-value {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &-value {
    font-weight: 500;
    text-align: center;
    color: #000;
  }
}
.svg-stick {
  background: url(../images/matches/data-stick.svg) center no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}
.svg-goalkeepers {
  background: url(../images/matches/data-goalkeepers.svg) center no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}
.v-dash {
  margin: 0px 10px;
}

.game-poll {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 40px;
  background: #222;
  color: #FFF;

  &-bg {
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000,.8);
    z-index: -1;
  }
  &-header {
    @include fz(16);
    margin-bottom: 25px;
  }
  &-title {
    @include fz(28);
    font-weight: 700;
    margin-bottom: 5px;
  }
  &-teams {
    text-align: center;
  }
  &-teams,
  &-results {
    margin-left: -40px;
    margin-right: -40px;

    [class*="flx-"] {
      padding-left: 40px;
      padding-right: 40px;
    }

    .flx-6:first-child {
      border-right: 1px solid #FFF;
    }
  }
  &-link {
    display: block;
    padding: 10px 0 15px;
    color: #FFF;
    border: 0;
  }
}
i.svg-okey {
  display: inline-block;
  vertical-align: baseline !important;
  margin-right: 12px !important;
  width: 26px !important;
  height: 30px !important;
  background: url(../images/matches/svg-okay.svg) center no-repeat;
  background-size: contain;
}
i.svg-kubok {
  display: inline-block;
  vertical-align: baseline !important;
  margin-right: 12px !important;
  width: 25px !important;
  height: 25px !important;
  background: url(../images/matches/svg-kubok.svg) center no-repeat;
  background-size: contain;
}

.poll-winner {
  text-align: left;

  &-img {
    flex: 0 0 130px;
    max-width: 130px;
    position: relative;
    margin-bottom: 24px;

    img {
      border-radius: 50%;
      display: block;
    }
  }
  &-number {
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -24px;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    line-height: 46px;
    background: #00A0FF;
    border-radius: 50%;
    border: 1px solid #000;
    color: #FFF;
    text-align: center;
    font-weight: 500;
  }
  &-right {
    padding-left: 25px;
    padding-top: 10px;
  }
  &-team {
    position: relative;
    display: inline-block;
    padding-left: 28px;

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 15px;
    }
  }
  &-name {
    @include fz(24);
    font-weight: 700;
    margin-bottom: 2px;
  }
  &-amplua {
    margin-bottom: 10px;
  }
  &-rates {
    position: relative;
    padding-left: 25px;

    span {
      font-weight: 700;
    }

    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      left: 0;
      top: -2px;
      background: url(../images/matches/svg-okay.svg) center no-repeat;
      background-size: contain;
    }
  }
  a {
    color: #FFF;
    border: 0;
  }
}
.game-tab-content {
  margin-bottom: 35px;
}
.game-online {
  padding-top: 10px;

  &-player {
    margin-bottom: 30px;
  }
}

.game-text-events {
  background: #FFF;
  margin-bottom: 30px;
}
.game-text {
  &-crucial,
  &-event {
    border-bottom: 1px solid $border;
    padding: 20px 45px;
    @include fz(16);

    a {
      border: 0;
    }
  }
  &-crucial {
    font-weight: 500;
  }
  &-event {
    display: -ms-flex;
    display: flex;

    &-time {
      flex: 0 0 80px;
      max-width: 80px;
      padding-right: 10px;
      font-weight: 500;
    }
    &-icon {
      flex: 0 0 60px;
      max-width: 60px;
      padding-right: 10px;
    }
    &-who {
      font-weight: 500;
      margin-bottom: 2px;
    }
    &-type {
      @include fz(14);
    }
  }
}
.game-text-header {
  @include fz(20);
  text-align: center;
  padding: 17px 30px;
  border-bottom: 1px solid $border;
  font-weight: 700;
}
i[class*="svg-"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  background-size: contain !important;
}
.svg {
  &-clock {
    background: url(../images/matches/svg-clock.svg) no-repeat center;
  }
  &-change {
    background: url(../images/matches/svg-change.svg) no-repeat center;
  }
  &-goal {
    background: url(../images/matches/svg-goal.svg) no-repeat center;
  }
  &-eject {
    background: url(../images/matches/svg-eject.svg) no-repeat center;
  }
  &-edit {
    background: url(../images/matches/svg-edit.svg) no-repeat center;
  }
  &-twitter {
    background: url(../images/matches/svg-twitter.svg) no-repeat center;
  }
}
.game-text-twitter {
  background: #FFF;
  margin-bottom: 30px;

  .svg-twitter {
    opacity: 0.5;
    position: relative;
    top: -2px;
    width: 20px;
    height: 16px;
  }
}
.game-twitter {
  max-height: 1500px;
  overflow-y: auto;
}
table.dark-table {
  thead th {
    background: #28292b;
    font-weight: 700;
    border: 1px solid #28292b;
    color: #FFF;
    padding: 15px 15px;
    text-align: left;

    &.centered {
      text-align: center;
    }
  }
  td {
    padding: 15px;
  }
  tbody {
    tr:nth-of-type(odd) {
      background: #FFF;
    }
  }
}

.game-protocols {
  padding-top: 10px;
}
.game-protocols-statistics {
  table.dark-table {
    th, td {
      text-align: center;

      &.lefted {
        text-align: left;
      }
    }
  }
}

.person-snippet {
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 30px;
  line-height: $lh;

  a {
    border: 0;
  }
  &-img {
    flex: 0 0 130px;
    max-width: 130px;

    img {
      border-radius: 65px;
      display: block;
    }
  }
  &-right {
    padding-left: 15px;
  }
  &-name {
    font-weight: 700;
    @include fz(28);
    margin-bottom: 4px;
  }
  &-team {
    img {
      display: inline-block !important;
      margin-right: 7px;
    }
  }
}
.overview-block {
  @include fz(16);
  line-height: 1.6;
  padding: 35px 50px;

  h2, .h2 {
    &:first-child {
      margin-top: 0;
    }
  }
}
.cite-dash {
  position: relative;
  margin: 40px 0;
  height: 1px;
  background: $border;

  &:after {
    content: "";
    position: absolute;
    width: 120px;
    height: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -12px;
    background: #FFF url(../images/matches/cites.svg) no-repeat center;
    background-size: contain;
  }
}
.fotorama__thumb-border {
  border-color: $red;
}
.fotorama__arr {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 11px;
    height: 23px;
    background-size: contain !important;
  }
  &--prev {
    &:after {
      background: url(../images/matches/svg-prev.svg) center no-repeat;
    }
  }
  &--next {
    &:after {
      background: url(../images/matches/svg-next.svg) center no-repeat;
    }
  }
}
.fotorama__video-play {
  width: 170px;
  height: 170px;
  margin-left: -85px;
  margin-top: -85px;
  background: url(../images/matches/svg-play.svg) center no-repeat !important;
  background-size: contain !important;
}
.fotorama__nav__frame .fotorama__video-play {
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  background-position: center;
}

.popup-game {
  background: #FFF;
  max-width: 700px;
  padding: 60px 40px 50px;
  color: $font;

  .h1, h1 {
    padding: 0px 25px;
    margin-bottom: 25px;
  }
  button.mfp-close {
    width: 30px;
    height: 30px;
  }
}
.label-player {
  position: relative;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid $border;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  
  a {
    border: 0;
    color: $font;

    &:hover {
      color: $primary;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
  }
  &-photo {
    position: relative;
    flex: 0 0 85px;
    max-width: 85px;
    padding-right: 20px;

    img {
      display: block;
      border-style: 33px;
    }
  }
  &-number {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #00A0FF;
    color: #FFF;
    border-radius: 50%;
  }
  &-name {
    font-weight: 700;
    @include fz(16);
    margin-bottom: 3px;
  }
  &-team {
    @include fz(14);
  }
  input:checked + &-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 0px 1px #00A0FF, inset 0px 0px 0px 1px #00A0FF;
  }
}
.popup-players-form-submit {
  padding-top: 20px;

  .btn {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-weight: 500;
    @include fz(28);
    text-transform: none;
  }
  i.svg-vote {
    position: relative;
    top: -4px;
  }
}
i.svg-vote {
  width: 26px;
  height: 26px;
  background: url(../images/matches/svg-vote.svg) center no-repeat;
  background-size: contain;
}
.popup-poll-thanks {
  @include fz(36);
}
.popup-thanks {
  &-hint {
    font-weight: 700;
    color: $primary;
  }
}
ul.slick-dots {
  margin-bottom: 0;

  li {
    padding-left: 0;
    margin: 3px;
  }
  li:before {
    content: none;
  }
}
.slick-game-events {
  ul.slick-dots {
    position: static;
    padding-top: 10px;
    text-align: center;
  }
}



/* --- RESPONSIVE --- */
@media (max-width: 992px) {

  .game-header {
    padding: 30px 20px 45px;
  }
  .game-tabs {
    overflow-x: auto;
    white-space: nowrap;

    a {
      display: flex;
      align-items: center;
      line-height: 1.05;
      max-width: 160px;
      white-space: normal;
    }
  }
  .game-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

}//992


@media (max-width: 860px) and (min-width: 768px) {

  .game-player {
    @include fz(15);
    min-height: 65px;

    &-img {
      flex: 0 0 65px;
      max-width: 65px;

      img {
        max-width: 100%;
      }
    }
    &-body {
      flex: 0 0 calc(100% - 65px);
      max-width: calc(100% - 65px);
      padding-left: 15px;
    }
    &-points {
      @include fz(16);
      color: $red;

      &-label {
        @include fz(24);
        color: $red;

        div {
          color: $font;
        }
      }
    }
  }

}//860-768


@media (max-width: 768px) {

  .game-tabs {
    a {
      flex: 0 0 auto;
    }
  }
  .game-header {
    &-dash {
      margin-bottom: 35px;
    }
    &-team {
      padding: 0px 10px;

      &-logo {
        height: 50px;

        img {
          max-height: 50px;
        }
      }
      &-name {
        @include fz(20);
        line-height: 1.2;
      }
    }
  }
  .header-tabs {
    display: block;
    border-bottom: 0;
    margin-bottom: 25px;

    &-title {
      margin: 0;
      margin-bottom: 20px;
    }
    ul#{&}-tabs {
      overflow-x: auto;
      overflow-y: visible;
      white-space: nowrap;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        height: 2px;
        background: $border;
      }

      a {
        padding-bottom: 10px;

        &:after {
          bottom: 2px;
        }
      }
    }
  }
  ul.header-tabs-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .clubs-news .side-news-items,
  .facetoface-games {
    max-height: none;
    overflow: visible;
  }
  .poll-winner {
    align-items: flex-start;

    &-img {
      flex: 0 0 85px;
      max-width: 85px;
    }
    &-number {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: -20px;
      margin-top: -20px;
    }
    &-right {
      padding-left: 15px;
      padding-top: 0;
    }
    &-name {
      @include fz(18);
    }
  }
  .game-poll-teams, .game-poll-results {
    margin-left: -20px;
    margin-right: -20px;
  }
  .game-poll-teams [class*="flx-"],
  .game-poll-results [class*="flx-"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .game-twitter {
    overflow: visible;
    max-height: none;
  }
  .person-snippet {
    &-img {
      flex: 0 0 85px;
      max-width: 85px;
    }
    &-name {
      @include fz(22);
    }
  }
  .fotorama__video-play {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
  }
  .fotorama__nav__frame .fotorama__video-play {
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
  }
}//768


@media (max-width: 576px) {

  .game-tabs {
    margin-left: -15px;
    margin-right: -15px;
  }
  .game-header {
    padding: 20px 10px 25px;
    margin-left: -15px;
    margin-right: -15px;

    &-dash {
      margin-top: 20px;
      margin-bottom: 25px;
    }
    &-teams {
      position: relative;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &-team {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &-info {
      padding-top: 20px;
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;

      &-score {
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
      }
    }
  }
  .game-protocol,
  .game-anonce,
  .overview-block {
    padding: 25px 30px;

    .game-block-title {
      margin-bottom: 18px;
    }
  }
  .game-margin {
    margin-bottom: 40px;
  }
  .facetoface-stats, .best-players {
    padding: 25px 20px 20px;
  }
  .game-poll {
    padding: 25px 20px;

    &-title {
      @include fz(24);
      line-height: 1.2;
    }
  }
  .game-text {
    &-crucial,
    &-event {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .game-online {
    iframe {
      max-height: 340px;
    }
  }
}//576


@media (max-width: 533px) {

  .game-player {
    @include fz(15);
    min-height: 65px;

    &-img {
      flex: 0 0 65px;
      max-width: 65px;

      img {
        max-width: 100%;
      }
    }
    &-body {
      flex: 0 0 calc(100% - 65px);
      max-width: calc(100% - 65px);
      padding-left: 15px;
    }
    &-points {
      @include fz(16);
      color: $red;
      text-align: center;

      &-label {
        @include fz(24);
        color: $red;
        text-align: center;

        div {
          color: $font;
        }
      }
    }
  }
  .poll-winner {
    display: block;
    text-align: center;

    &-img {
      margin: 0px auto 25px;
      max-width: 85px;
    }
    &-right {
      padding-left: 0;
    }
    &-rates {
      display: inline-block;
    }
  }
  .fotorama__arr--prev {
    left: 15px;
  }
  .fotorama__arr--next {
    right: 15px;
  }
}//533


@media (max-width: 480px) {

  .game-tabs,
  .game-header {
    margin-left: -10px;
    margin-right: -10px;
  }
  .game-header {
    &-number,
    &-place {
      @include fz(12);
    }
    &-info {
      &-score {
        @include fz(40);
        letter-spacing: -0.05em;
      }
    }
  }
  .game-poll-teams, .game-poll-results {
    margin-left: -10px;
    margin-right: -10px;
  }
  .game-poll-teams [class*="flx-"],
  .game-poll-results [class*="flx-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .person-snippet {
    &-name {
      @include fz(18);
    }
  }
  .overview-block {
    padding: 25px 20px 20px;
  }
  .facetoface-item {
    padding: 20px;
  }
}//480


@media (max-width: 380px) {
  .game-header {
    &-team {
      &:first-child {
        .game-header-team-logo {
          padding-right: 20px;
        }
      }
      &:last-child {
        .game-header-team-logo {
          padding-left: 20px;
        }
      }
    }
  }
  .game-tabs {
    a {
      @include fz(14);
      max-width: 130px;
    }
  }
  .game-text {
    &-crucial,
    &-event {
      padding-left: 15px;
      padding-right: 15px;
      @include fz(14);
    }
    &-event {
      &-time {
        flex: 0 0 60px;
        max-width: 60px;
      }
      &-icon {
        flex: 0 0 50px;
        max-width: 50px;
      }
    }
  }
  .game-anonce {
    @include fz(14);
  }
  .overview-block {
    @include fz(14);
  }
}//380

@import "game_snippets"