// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-micro-name: 'arrow-left-micro';
$arrow-left-micro-x: 0px;
$arrow-left-micro-y: 143px;
$arrow-left-micro-offset-x: 0px;
$arrow-left-micro-offset-y: -143px;
$arrow-left-micro-width: 5px;
$arrow-left-micro-height: 10px;
$arrow-left-micro-total-width: 89px;
$arrow-left-micro-total-height: 1644px;
$arrow-left-micro-image: '../images/sprite/sprite.png';
$arrow-left-micro: (0px, 143px, 0px, -143px, 5px, 10px, 89px, 1644px, '../images/sprite/sprite.png', 'arrow-left-micro', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 952px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -952px;
$arrow-left-width: 11px;
$arrow-left-height: 20px;
$arrow-left-total-width: 89px;
$arrow-left-total-height: 1644px;
$arrow-left-image: '../images/sprite/sprite.png';
$arrow-left: (0px, 952px, 0px, -952px, 11px, 20px, 89px, 1644px, '../images/sprite/sprite.png', 'arrow-left', );
$arrow-mini-right-name: 'arrow-mini-right';
$arrow-mini-right-x: 0px;
$arrow-mini-right-y: 810px;
$arrow-mini-right-offset-x: 0px;
$arrow-mini-right-offset-y: -810px;
$arrow-mini-right-width: 10px;
$arrow-mini-right-height: 18px;
$arrow-mini-right-total-width: 89px;
$arrow-mini-right-total-height: 1644px;
$arrow-mini-right-image: '../images/sprite/sprite.png';
$arrow-mini-right: (0px, 810px, 0px, -810px, 10px, 18px, 89px, 1644px, '../images/sprite/sprite.png', 'arrow-mini-right', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 982px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -982px;
$arrow-right-width: 11px;
$arrow-right-height: 20px;
$arrow-right-total-width: 89px;
$arrow-right-total-height: 1644px;
$arrow-right-image: '../images/sprite/sprite.png';
$arrow-right: (0px, 982px, 0px, -982px, 11px, 20px, 89px, 1644px, '../images/sprite/sprite.png', 'arrow-right', );
$attention-name: 'attention';
$attention-x: 0px;
$attention-y: 1423px;
$attention-offset-x: 0px;
$attention-offset-y: -1423px;
$attention-width: 58px;
$attention-height: 51px;
$attention-total-width: 89px;
$attention-total-height: 1644px;
$attention-image: '../images/sprite/sprite.png';
$attention: (0px, 1423px, 0px, -1423px, 58px, 51px, 89px, 1644px, '../images/sprite/sprite.png', 'attention', );
$calendar-mini-white-name: 'calendar-mini-white';
$calendar-mini-white-x: 0px;
$calendar-mini-white-y: 399px;
$calendar-mini-white-offset-x: 0px;
$calendar-mini-white-offset-y: -399px;
$calendar-mini-white-width: 13px;
$calendar-mini-white-height: 13px;
$calendar-mini-white-total-width: 89px;
$calendar-mini-white-total-height: 1644px;
$calendar-mini-white-image: '../images/sprite/sprite.png';
$calendar-mini-white: (0px, 399px, 0px, -399px, 13px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'calendar-mini-white', );
$calendar-mini-name: 'calendar-mini';
$calendar-mini-x: 0px;
$calendar-mini-y: 422px;
$calendar-mini-offset-x: 0px;
$calendar-mini-offset-y: -422px;
$calendar-mini-width: 13px;
$calendar-mini-height: 13px;
$calendar-mini-total-width: 89px;
$calendar-mini-total-height: 1644px;
$calendar-mini-image: '../images/sprite/sprite.png';
$calendar-mini: (0px, 422px, 0px, -422px, 13px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'calendar-mini', );
$checked-name: 'checked';
$checked-x: 0px;
$checked-y: 445px;
$checked-offset-x: 0px;
$checked-offset-y: -445px;
$checked-width: 17px;
$checked-height: 13px;
$checked-total-width: 89px;
$checked-total-height: 1644px;
$checked-image: '../images/sprite/sprite.png';
$checked: (0px, 445px, 0px, -445px, 17px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'checked', );
$ct-clock-name: 'ct-clock';
$ct-clock-x: 0px;
$ct-clock-y: 1219px;
$ct-clock-offset-x: 0px;
$ct-clock-offset-y: -1219px;
$ct-clock-width: 30px;
$ct-clock-height: 30px;
$ct-clock-total-width: 89px;
$ct-clock-total-height: 1644px;
$ct-clock-image: '../images/sprite/sprite.png';
$ct-clock: (0px, 1219px, 0px, -1219px, 30px, 30px, 89px, 1644px, '../images/sprite/sprite.png', 'ct-clock', );
$ct-mail-name: 'ct-mail';
$ct-mail-x: 0px;
$ct-mail-y: 894px;
$ct-mail-offset-x: 0px;
$ct-mail-offset-y: -894px;
$ct-mail-width: 24px;
$ct-mail-height: 19px;
$ct-mail-total-width: 89px;
$ct-mail-total-height: 1644px;
$ct-mail-image: '../images/sprite/sprite.png';
$ct-mail: (0px, 894px, 0px, -894px, 24px, 19px, 89px, 1644px, '../images/sprite/sprite.png', 'ct-mail', );
$ct-phone-name: 'ct-phone';
$ct-phone-x: 0px;
$ct-phone-y: 1075px;
$ct-phone-offset-x: 0px;
$ct-phone-offset-y: -1075px;
$ct-phone-width: 24px;
$ct-phone-height: 24px;
$ct-phone-total-width: 89px;
$ct-phone-total-height: 1644px;
$ct-phone-image: '../images/sprite/sprite.png';
$ct-phone: (0px, 1075px, 0px, -1075px, 24px, 24px, 89px, 1644px, '../images/sprite/sprite.png', 'ct-phone', );
$ct-pin-name: 'ct-pin';
$ct-pin-x: 0px;
$ct-pin-y: 1145px;
$ct-pin-offset-x: 0px;
$ct-pin-offset-y: -1145px;
$ct-pin-width: 22px;
$ct-pin-height: 27px;
$ct-pin-total-width: 89px;
$ct-pin-total-height: 1644px;
$ct-pin-image: '../images/sprite/sprite.png';
$ct-pin: (0px, 1145px, 0px, -1145px, 22px, 27px, 89px, 1644px, '../images/sprite/sprite.png', 'ct-pin', );
$file-name: 'file';
$file-x: 0px;
$file-y: 656px;
$file-offset-x: 0px;
$file-offset-y: -656px;
$file-width: 15px;
$file-height: 15px;
$file-total-width: 89px;
$file-total-height: 1644px;
$file-image: '../images/sprite/sprite.png';
$file: (0px, 656px, 0px, -656px, 15px, 15px, 89px, 1644px, '../images/sprite/sprite.png', 'file', );
$fs-name: 'fs';
$fs-x: 0px;
$fs-y: 1182px;
$fs-offset-x: 0px;
$fs-offset-y: -1182px;
$fs-width: 18px;
$fs-height: 27px;
$fs-total-width: 89px;
$fs-total-height: 1644px;
$fs-image: '../images/sprite/sprite.png';
$fs: (0px, 1182px, 0px, -1182px, 18px, 27px, 89px, 1644px, '../images/sprite/sprite.png', 'fs', );
$i-map-name: 'i-map';
$i-map-x: 0px;
$i-map-y: 468px;
$i-map-offset-x: 0px;
$i-map-offset-y: -468px;
$i-map-width: 10px;
$i-map-height: 13px;
$i-map-total-width: 89px;
$i-map-total-height: 1644px;
$i-map-image: '../images/sprite/sprite.png';
$i-map: (0px, 468px, 0px, -468px, 10px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'i-map', );
$i-phone-name: 'i-phone';
$i-phone-x: 0px;
$i-phone-y: 245px;
$i-phone-offset-x: 0px;
$i-phone-offset-y: -245px;
$i-phone-width: 12px;
$i-phone-height: 12px;
$i-phone-total-width: 89px;
$i-phone-total-height: 1644px;
$i-phone-image: '../images/sprite/sprite.png';
$i-phone: (0px, 245px, 0px, -245px, 12px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'i-phone', );
$i-play-mini-name: 'i-play-mini';
$i-play-mini-x: 0px;
$i-play-mini-y: 923px;
$i-play-mini-offset-x: 0px;
$i-play-mini-offset-y: -923px;
$i-play-mini-width: 16px;
$i-play-mini-height: 19px;
$i-play-mini-total-width: 89px;
$i-play-mini-total-height: 1644px;
$i-play-mini-image: '../images/sprite/sprite.png';
$i-play-mini: (0px, 923px, 0px, -923px, 16px, 19px, 89px, 1644px, '../images/sprite/sprite.png', 'i-play-mini', );
$i-quote-name: 'i-quote';
$i-quote-x: 0px;
$i-quote-y: 267px;
$i-quote-offset-x: 0px;
$i-quote-offset-y: -267px;
$i-quote-width: 13px;
$i-quote-height: 12px;
$i-quote-total-width: 89px;
$i-quote-total-height: 1644px;
$i-quote-image: '../images/sprite/sprite.png';
$i-quote: (0px, 267px, 0px, -267px, 13px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'i-quote', );
$i-search-white-name: 'i-search-white';
$i-search-white-x: 0px;
$i-search-white-y: 706px;
$i-search-white-offset-x: 0px;
$i-search-white-offset-y: -706px;
$i-search-white-width: 16px;
$i-search-white-height: 16px;
$i-search-white-total-width: 89px;
$i-search-white-total-height: 1644px;
$i-search-white-image: '../images/sprite/sprite.png';
$i-search-white: (0px, 706px, 0px, -706px, 16px, 16px, 89px, 1644px, '../images/sprite/sprite.png', 'i-search-white', );
$i-search-name: 'i-search';
$i-search-x: 0px;
$i-search-y: 732px;
$i-search-offset-x: 0px;
$i-search-offset-y: -732px;
$i-search-width: 16px;
$i-search-height: 16px;
$i-search-total-width: 89px;
$i-search-total-height: 1644px;
$i-search-image: '../images/sprite/sprite.png';
$i-search: (0px, 732px, 0px, -732px, 16px, 16px, 89px, 1644px, '../images/sprite/sprite.png', 'i-search', );
$i-ticket-dashed-name: 'i-ticket-dashed';
$i-ticket-dashed-x: 0px;
$i-ticket-dashed-y: 1012px;
$i-ticket-dashed-offset-x: 0px;
$i-ticket-dashed-offset-y: -1012px;
$i-ticket-dashed-width: 20px;
$i-ticket-dashed-height: 20px;
$i-ticket-dashed-total-width: 89px;
$i-ticket-dashed-total-height: 1644px;
$i-ticket-dashed-image: '../images/sprite/sprite.png';
$i-ticket-dashed: (0px, 1012px, 0px, -1012px, 20px, 20px, 89px, 1644px, '../images/sprite/sprite.png', 'i-ticket-dashed', );
$i-traingle-white-name: 'i-traingle-white';
$i-traingle-white-x: 0px;
$i-traingle-white-y: 491px;
$i-traingle-white-offset-x: 0px;
$i-traingle-white-offset-y: -491px;
$i-traingle-white-width: 11px;
$i-traingle-white-height: 13px;
$i-traingle-white-total-width: 89px;
$i-traingle-white-total-height: 1644px;
$i-traingle-white-image: '../images/sprite/sprite.png';
$i-traingle-white: (0px, 491px, 0px, -491px, 11px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'i-traingle-white', );
$i-traingle-name: 'i-traingle';
$i-traingle-x: 0px;
$i-traingle-y: 514px;
$i-traingle-offset-x: 0px;
$i-traingle-offset-y: -514px;
$i-traingle-width: 11px;
$i-traingle-height: 13px;
$i-traingle-total-width: 89px;
$i-traingle-total-height: 1644px;
$i-traingle-image: '../images/sprite/sprite.png';
$i-traingle: (0px, 514px, 0px, -514px, 11px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'i-traingle', );
$i-up-name: 'i-up';
$i-up-x: 0px;
$i-up-y: 681px;
$i-up-offset-x: 0px;
$i-up-offset-y: -681px;
$i-up-width: 11px;
$i-up-height: 15px;
$i-up-total-width: 89px;
$i-up-total-height: 1644px;
$i-up-image: '../images/sprite/sprite.png';
$i-up: (0px, 681px, 0px, -681px, 11px, 15px, 89px, 1644px, '../images/sprite/sprite.png', 'i-up', );
$i-world-name: 'i-world';
$i-world-x: 0px;
$i-world-y: 537px;
$i-world-offset-x: 0px;
$i-world-offset-y: -537px;
$i-world-width: 13px;
$i-world-height: 13px;
$i-world-total-width: 89px;
$i-world-total-height: 1644px;
$i-world-image: '../images/sprite/sprite.png';
$i-world: (0px, 537px, 0px, -537px, 13px, 13px, 89px, 1644px, '../images/sprite/sprite.png', 'i-world', );
$icon-calendar-mini-name: 'icon-calendar-mini';
$icon-calendar-mini-x: 0px;
$icon-calendar-mini-y: 758px;
$icon-calendar-mini-offset-x: 0px;
$icon-calendar-mini-offset-y: -758px;
$icon-calendar-mini-width: 17px;
$icon-calendar-mini-height: 16px;
$icon-calendar-mini-total-width: 89px;
$icon-calendar-mini-total-height: 1644px;
$icon-calendar-mini-image: '../images/sprite/sprite.png';
$icon-calendar-mini: (0px, 758px, 0px, -758px, 17px, 16px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-calendar-mini', );
$icon-calendar-name: 'icon-calendar';
$icon-calendar-x: 0px;
$icon-calendar-y: 1109px;
$icon-calendar-offset-x: 0px;
$icon-calendar-offset-y: -1109px;
$icon-calendar-width: 26px;
$icon-calendar-height: 26px;
$icon-calendar-total-width: 89px;
$icon-calendar-total-height: 1644px;
$icon-calendar-image: '../images/sprite/sprite.png';
$icon-calendar: (0px, 1109px, 0px, -1109px, 26px, 26px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-calendar', );
$icon-clock-gray-name: 'icon-clock-gray';
$icon-clock-gray-x: 0px;
$icon-clock-gray-y: 560px;
$icon-clock-gray-offset-x: 0px;
$icon-clock-gray-offset-y: -560px;
$icon-clock-gray-width: 14px;
$icon-clock-gray-height: 14px;
$icon-clock-gray-total-width: 89px;
$icon-clock-gray-total-height: 1644px;
$icon-clock-gray-image: '../images/sprite/sprite.png';
$icon-clock-gray: (0px, 560px, 0px, -560px, 14px, 14px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-clock-gray', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 0px;
$icon-clock-y: 584px;
$icon-clock-offset-x: 0px;
$icon-clock-offset-y: -584px;
$icon-clock-width: 14px;
$icon-clock-height: 14px;
$icon-clock-total-width: 89px;
$icon-clock-total-height: 1644px;
$icon-clock-image: '../images/sprite/sprite.png';
$icon-clock: (0px, 584px, 0px, -584px, 14px, 14px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-clock', );
$icon-comment-name: 'icon-comment';
$icon-comment-x: 0px;
$icon-comment-y: 608px;
$icon-comment-offset-x: 0px;
$icon-comment-offset-y: -608px;
$icon-comment-width: 14px;
$icon-comment-height: 14px;
$icon-comment-total-width: 89px;
$icon-comment-total-height: 1644px;
$icon-comment-image: '../images/sprite/sprite.png';
$icon-comment: (0px, 608px, 0px, -608px, 14px, 14px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-comment', );
$icon-docx-white-name: 'icon-docx-white';
$icon-docx-white-x: 0px;
$icon-docx-white-y: 1259px;
$icon-docx-white-offset-x: 0px;
$icon-docx-white-offset-y: -1259px;
$icon-docx-white-width: 29px;
$icon-docx-white-height: 31px;
$icon-docx-white-total-width: 89px;
$icon-docx-white-total-height: 1644px;
$icon-docx-white-image: '../images/sprite/sprite.png';
$icon-docx-white: (0px, 1259px, 0px, -1259px, 29px, 31px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-docx-white', );
$icon-external-name: 'icon-external';
$icon-external-x: 0px;
$icon-external-y: 163px;
$icon-external-offset-x: 0px;
$icon-external-offset-y: -163px;
$icon-external-width: 10px;
$icon-external-height: 10px;
$icon-external-total-width: 89px;
$icon-external-total-height: 1644px;
$icon-external-image: '../images/sprite/sprite.png';
$icon-external: (0px, 163px, 0px, -163px, 10px, 10px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-external', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 0px;
$icon-mail-y: 183px;
$icon-mail-offset-x: 0px;
$icon-mail-offset-y: -183px;
$icon-mail-width: 13px;
$icon-mail-height: 10px;
$icon-mail-total-width: 89px;
$icon-mail-total-height: 1644px;
$icon-mail-image: '../images/sprite/sprite.png';
$icon-mail: (0px, 183px, 0px, -183px, 13px, 10px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-mail', );
$icon-pdf-white-name: 'icon-pdf-white';
$icon-pdf-white-x: 0px;
$icon-pdf-white-y: 1300px;
$icon-pdf-white-offset-x: 0px;
$icon-pdf-white-offset-y: -1300px;
$icon-pdf-white-width: 29px;
$icon-pdf-white-height: 31px;
$icon-pdf-white-total-width: 89px;
$icon-pdf-white-total-height: 1644px;
$icon-pdf-white-image: '../images/sprite/sprite.png';
$icon-pdf-white: (0px, 1300px, 0px, -1300px, 29px, 31px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-pdf-white', );
$icon-pdf-name: 'icon-pdf';
$icon-pdf-x: 0px;
$icon-pdf-y: 1341px;
$icon-pdf-offset-x: 0px;
$icon-pdf-offset-y: -1341px;
$icon-pdf-width: 29px;
$icon-pdf-height: 31px;
$icon-pdf-total-width: 89px;
$icon-pdf-total-height: 1644px;
$icon-pdf-image: '../images/sprite/sprite.png';
$icon-pdf: (0px, 1341px, 0px, -1341px, 29px, 31px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-pdf', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 0px;
$icon-phone-y: 289px;
$icon-phone-offset-x: 0px;
$icon-phone-offset-y: -289px;
$icon-phone-width: 12px;
$icon-phone-height: 12px;
$icon-phone-total-width: 89px;
$icon-phone-total-height: 1644px;
$icon-phone-image: '../images/sprite/sprite.png';
$icon-phone: (0px, 289px, 0px, -289px, 12px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-phone', );
$icon-photo-name: 'icon-photo';
$icon-photo-x: 0px;
$icon-photo-y: 311px;
$icon-photo-offset-x: 0px;
$icon-photo-offset-y: -311px;
$icon-photo-width: 16px;
$icon-photo-height: 12px;
$icon-photo-total-width: 89px;
$icon-photo-total-height: 1644px;
$icon-photo-image: '../images/sprite/sprite.png';
$icon-photo: (0px, 311px, 0px, -311px, 16px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-photo', );
$icon-print-name: 'icon-print';
$icon-print-x: 0px;
$icon-print-y: 1042px;
$icon-print-offset-x: 0px;
$icon-print-offset-y: -1042px;
$icon-print-width: 22px;
$icon-print-height: 23px;
$icon-print-total-width: 89px;
$icon-print-total-height: 1644px;
$icon-print-image: '../images/sprite/sprite.png';
$icon-print: (0px, 1042px, 0px, -1042px, 22px, 23px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-print', );
$icon-stat-white-name: 'icon-stat-white';
$icon-stat-white-x: 0px;
$icon-stat-white-y: 51px;
$icon-stat-white-offset-x: 0px;
$icon-stat-white-offset-y: -51px;
$icon-stat-white-width: 10px;
$icon-stat-white-height: 8px;
$icon-stat-white-total-width: 89px;
$icon-stat-white-total-height: 1644px;
$icon-stat-white-image: '../images/sprite/sprite.png';
$icon-stat-white: (0px, 51px, 0px, -51px, 10px, 8px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-stat-white', );
$icon-stat-name: 'icon-stat';
$icon-stat-x: 0px;
$icon-stat-y: 69px;
$icon-stat-offset-x: 0px;
$icon-stat-offset-y: -69px;
$icon-stat-width: 10px;
$icon-stat-height: 8px;
$icon-stat-total-width: 89px;
$icon-stat-total-height: 1644px;
$icon-stat-image: '../images/sprite/sprite.png';
$icon-stat: (0px, 69px, 0px, -69px, 10px, 8px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-stat', );
$icon-ticket-white-name: 'icon-ticket-white';
$icon-ticket-white-x: 0px;
$icon-ticket-white-y: 333px;
$icon-ticket-white-offset-x: 0px;
$icon-ticket-white-offset-y: -333px;
$icon-ticket-white-width: 12px;
$icon-ticket-white-height: 12px;
$icon-ticket-white-total-width: 89px;
$icon-ticket-white-total-height: 1644px;
$icon-ticket-white-image: '../images/sprite/sprite.png';
$icon-ticket-white: (0px, 333px, 0px, -333px, 12px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-ticket-white', );
$icon-ticket-name: 'icon-ticket';
$icon-ticket-x: 0px;
$icon-ticket-y: 355px;
$icon-ticket-offset-x: 0px;
$icon-ticket-offset-y: -355px;
$icon-ticket-width: 12px;
$icon-ticket-height: 12px;
$icon-ticket-total-width: 89px;
$icon-ticket-total-height: 1644px;
$icon-ticket-image: '../images/sprite/sprite.png';
$icon-ticket: (0px, 355px, 0px, -355px, 12px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-ticket', );
$icon-video-name: 'icon-video';
$icon-video-x: 0px;
$icon-video-y: 87px;
$icon-video-offset-x: 0px;
$icon-video-offset-y: -87px;
$icon-video-width: 13px;
$icon-video-height: 8px;
$icon-video-total-width: 89px;
$icon-video-total-height: 1644px;
$icon-video-image: '../images/sprite/sprite.png';
$icon-video: (0px, 87px, 0px, -87px, 13px, 8px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-video', );
$icon-view-white-name: 'icon-view-white';
$icon-view-white-x: 0px;
$icon-view-white-y: 0px;
$icon-view-white-offset-x: 0px;
$icon-view-white-offset-y: 0px;
$icon-view-white-width: 12px;
$icon-view-white-height: 7px;
$icon-view-white-total-width: 89px;
$icon-view-white-total-height: 1644px;
$icon-view-white-image: '../images/sprite/sprite.png';
$icon-view-white: (0px, 0px, 0px, 0px, 12px, 7px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-view-white', );
$icon-view-white2-name: 'icon-view-white2';
$icon-view-white2-x: 0px;
$icon-view-white2-y: 17px;
$icon-view-white2-offset-x: 0px;
$icon-view-white2-offset-y: -17px;
$icon-view-white2-width: 12px;
$icon-view-white2-height: 7px;
$icon-view-white2-total-width: 89px;
$icon-view-white2-total-height: 1644px;
$icon-view-white2-image: '../images/sprite/sprite.png';
$icon-view-white2: (0px, 17px, 0px, -17px, 12px, 7px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-view-white2', );
$icon-view-name: 'icon-view';
$icon-view-x: 0px;
$icon-view-y: 34px;
$icon-view-offset-x: 0px;
$icon-view-offset-y: -34px;
$icon-view-width: 12px;
$icon-view-height: 7px;
$icon-view-total-width: 89px;
$icon-view-total-height: 1644px;
$icon-view-image: '../images/sprite/sprite.png';
$icon-view: (0px, 34px, 0px, -34px, 12px, 7px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-view', );
$icon-volume-name: 'icon-volume';
$icon-volume-x: 0px;
$icon-volume-y: 632px;
$icon-volume-offset-x: 0px;
$icon-volume-offset-y: -632px;
$icon-volume-width: 16px;
$icon-volume-height: 14px;
$icon-volume-total-width: 89px;
$icon-volume-total-height: 1644px;
$icon-volume-image: '../images/sprite/sprite.png';
$icon-volume: (0px, 632px, 0px, -632px, 16px, 14px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-volume', );
$icon-xlsx-white-name: 'icon-xlsx-white';
$icon-xlsx-white-x: 0px;
$icon-xlsx-white-y: 1382px;
$icon-xlsx-white-offset-x: 0px;
$icon-xlsx-white-offset-y: -1382px;
$icon-xlsx-white-width: 29px;
$icon-xlsx-white-height: 31px;
$icon-xlsx-white-total-width: 89px;
$icon-xlsx-white-total-height: 1644px;
$icon-xlsx-white-image: '../images/sprite/sprite.png';
$icon-xlsx-white: (0px, 1382px, 0px, -1382px, 29px, 31px, 89px, 1644px, '../images/sprite/sprite.png', 'icon-xlsx-white', );
$jp-pause-name: 'jp-pause';
$jp-pause-x: 0px;
$jp-pause-y: 105px;
$jp-pause-offset-x: 0px;
$jp-pause-offset-y: -105px;
$jp-pause-width: 7px;
$jp-pause-height: 9px;
$jp-pause-total-width: 89px;
$jp-pause-total-height: 1644px;
$jp-pause-image: '../images/sprite/sprite.png';
$jp-pause: (0px, 105px, 0px, -105px, 7px, 9px, 89px, 1644px, '../images/sprite/sprite.png', 'jp-pause', );
$jp-play-name: 'jp-play';
$jp-play-x: 0px;
$jp-play-y: 124px;
$jp-play-offset-x: 0px;
$jp-play-offset-y: -124px;
$jp-play-width: 8px;
$jp-play-height: 9px;
$jp-play-total-width: 89px;
$jp-play-total-height: 1644px;
$jp-play-image: '../images/sprite/sprite.png';
$jp-play: (0px, 124px, 0px, -124px, 8px, 9px, 89px, 1644px, '../images/sprite/sprite.png', 'jp-play', );
$pgn-next-name: 'pgn-next';
$pgn-next-x: 0px;
$pgn-next-y: 203px;
$pgn-next-offset-x: 0px;
$pgn-next-offset-y: -203px;
$pgn-next-width: 5px;
$pgn-next-height: 11px;
$pgn-next-total-width: 89px;
$pgn-next-total-height: 1644px;
$pgn-next-image: '../images/sprite/sprite.png';
$pgn-next: (0px, 203px, 0px, -203px, 5px, 11px, 89px, 1644px, '../images/sprite/sprite.png', 'pgn-next', );
$pgn-prev-name: 'pgn-prev';
$pgn-prev-x: 0px;
$pgn-prev-y: 224px;
$pgn-prev-offset-x: 0px;
$pgn-prev-offset-y: -224px;
$pgn-prev-width: 5px;
$pgn-prev-height: 11px;
$pgn-prev-total-width: 89px;
$pgn-prev-total-height: 1644px;
$pgn-prev-image: '../images/sprite/sprite.png';
$pgn-prev: (0px, 224px, 0px, -224px, 5px, 11px, 89px, 1644px, '../images/sprite/sprite.png', 'pgn-prev', );
$play-big-name: 'play-big';
$play-big-x: 0px;
$play-big-y: 1555px;
$play-big-offset-x: 0px;
$play-big-offset-y: -1555px;
$play-big-width: 89px;
$play-big-height: 89px;
$play-big-total-width: 89px;
$play-big-total-height: 1644px;
$play-big-image: '../images/sprite/sprite.png';
$play-big: (0px, 1555px, 0px, -1555px, 89px, 89px, 89px, 1644px, '../images/sprite/sprite.png', 'play-big', );
$play-video-name: 'play-video';
$play-video-x: 0px;
$play-video-y: 1484px;
$play-video-offset-x: 0px;
$play-video-offset-y: -1484px;
$play-video-width: 51px;
$play-video-height: 61px;
$play-video-total-width: 89px;
$play-video-total-height: 1644px;
$play-video-image: '../images/sprite/sprite.png';
$play-video: (0px, 1484px, 0px, -1484px, 51px, 61px, 89px, 1644px, '../images/sprite/sprite.png', 'play-video', );
$search-name: 'search';
$search-x: 0px;
$search-y: 784px;
$search-offset-x: 0px;
$search-offset-y: -784px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 89px;
$search-total-height: 1644px;
$search-image: '../images/sprite/sprite.png';
$search: (0px, 784px, 0px, -784px, 16px, 16px, 89px, 1644px, '../images/sprite/sprite.png', 'search', );
$side-menu-arrow-name: 'side-menu-arrow';
$side-menu-arrow-x: 0px;
$side-menu-arrow-y: 377px;
$side-menu-arrow-offset-x: 0px;
$side-menu-arrow-offset-y: -377px;
$side-menu-arrow-width: 7px;
$side-menu-arrow-height: 12px;
$side-menu-arrow-total-width: 89px;
$side-menu-arrow-total-height: 1644px;
$side-menu-arrow-image: '../images/sprite/sprite.png';
$side-menu-arrow: (0px, 377px, 0px, -377px, 7px, 12px, 89px, 1644px, '../images/sprite/sprite.png', 'side-menu-arrow', );
$slick-simple-next-name: 'slick-simple-next';
$slick-simple-next-x: 0px;
$slick-simple-next-y: 838px;
$slick-simple-next-offset-x: 0px;
$slick-simple-next-offset-y: -838px;
$slick-simple-next-width: 26px;
$slick-simple-next-height: 18px;
$slick-simple-next-total-width: 89px;
$slick-simple-next-total-height: 1644px;
$slick-simple-next-image: '../images/sprite/sprite.png';
$slick-simple-next: (0px, 838px, 0px, -838px, 26px, 18px, 89px, 1644px, '../images/sprite/sprite.png', 'slick-simple-next', );
$slick-simple-prev-name: 'slick-simple-prev';
$slick-simple-prev-x: 0px;
$slick-simple-prev-y: 866px;
$slick-simple-prev-offset-x: 0px;
$slick-simple-prev-offset-y: -866px;
$slick-simple-prev-width: 26px;
$slick-simple-prev-height: 18px;
$slick-simple-prev-total-width: 89px;
$slick-simple-prev-total-height: 1644px;
$slick-simple-prev-image: '../images/sprite/sprite.png';
$slick-simple-prev: (0px, 866px, 0px, -866px, 26px, 18px, 89px, 1644px, '../images/sprite/sprite.png', 'slick-simple-prev', );
$spritesheet-width: 89px;
$spritesheet-height: 1644px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($arrow-left-micro, $arrow-left, $arrow-mini-right, $arrow-right, $attention, $calendar-mini-white, $calendar-mini, $checked, $ct-clock, $ct-mail, $ct-phone, $ct-pin, $file, $fs, $i-map, $i-phone, $i-play-mini, $i-quote, $i-search-white, $i-search, $i-ticket-dashed, $i-traingle-white, $i-traingle, $i-up, $i-world, $icon-calendar-mini, $icon-calendar, $icon-clock-gray, $icon-clock, $icon-comment, $icon-docx-white, $icon-external, $icon-mail, $icon-pdf-white, $icon-pdf, $icon-phone, $icon-photo, $icon-print, $icon-stat-white, $icon-stat, $icon-ticket-white, $icon-ticket, $icon-video, $icon-view-white, $icon-view-white2, $icon-view, $icon-volume, $icon-xlsx-white, $jp-pause, $jp-play, $pgn-next, $pgn-prev, $play-big, $play-video, $search, $side-menu-arrow, $slick-simple-next, $slick-simple-prev, );
$spritesheet: (89px, 1644px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
